/* ---------- Default ---------- */
.default header {
    background: url("../img/header-banner.png"), #BBB;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
}

.default .quiz-question > h2,
.default .quiz-question > div,
.default .category-title > *,
.default #level-stars,
.default #level-text > span,
.default .category-questnum > strong,
.default .question-feedback > p,
.default .question-feedback .user-answer {
    color: transparent;
    background: #e4e4e4;
}

/* ---------- Movies ---------- */
.movies header {
    background: url("../img/header-banner.png"), #89DAA9;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
}

.movies .quiz-question > h2 {
    color: #307A50;
}

.movies .quiz-question > div,
.movies .question-feedback .user-answer,
.movies .question-feedback > p {
    color: #367C39;
}

.movies .quiz-question .active,
.movies .question-feedback .user-answer {
    background:#89DAA9;
}

.movies .option-letter {
    background: #B4DF80;
}

/* ---------- Séries ---------- */
.series header {
    background: url("../img/header-banner.png"), #F5C31C;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
}

.series .quiz-question > h2,
.series .quiz-question > div,
.series .question-feedback > p {
    color: #C69A04;
}

.series .quiz-question .active,
.series .option-letter,
.series .question-feedback .user-answer {
    background:#FCDD74;
    color: #C69A04;
}

/* ---------- Animes ---------- */
.animes header {
    background: url("../img/header-banner.png"), #F36164;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
}

.animes .quiz-question > h2,
.animes .quiz-question > div,
.animes .question-feedback .user-answer,
.animes .question-feedback > p {
    color: #9C2E38;
}

.animes .quiz-question .active,
.animes .option-letter,
.animes .question-feedback .user-answer {
    background: #F36164;
}

/* ---------- Musics ---------- */
.musics header {
    background: url("../img/header-banner.png"), #6A55CC;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
}

.musics .quiz-question > h2,
.musics .quiz-question > div,
.musics .question-feedback .user-answer,
.musics .question-feedback > p {
    color: #2B176C;
}

.musics .quiz-question .active,
.musics .option-letter,
.musics .question-feedback .user-answer {
    background: #6A55CC;
}