* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
body {
    font-size: 12pt;
    display: flex;
    height: 100%;
}

aside {
    background: #FFF;
    min-width: 60px;
    height: 100vh;
    box-shadow: 0px 0px 10px -2px #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.sidebar-thumbnail {
    background: #5f2a71;
    display: flex;
    margin: 30px 0;
    border-radius: 20px;
}

.category-thumb {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    mix-blend-mode: overlay;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.sidebar-exit {
    margin: 10px 0;
}

.sidebar-btn {
    background: #FFF;
    display: flex;
    width: 60px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all 200ms ease-in-out;
}

.sidebar-btn:hover {
    border-left: 4px solid #8463A9;
    box-shadow: 0px 0px 9px 0px rgba(129, 129, 129, 0.14);
    z-index: 999;
}
.sidebar-btn:hover span {
    box-shadow: 0px 0px 9px 0px rgba(129, 129, 129, 0.14);
    width: 140px;
    opacity: 1;
}

.sidebar-btn span {
    background: #FFF;
    position: absolute;
    left: 60px;
    width: 0;
    height: 50px;
    line-height: 50px; /* Line Height, TranslateY ou Flexbox? */
    overflow: hidden;    
    text-align: left;
    opacity: 0;
    color: #663366;
    border-radius: 0 5px 5px 0;
    transition: all 250ms ease-in-out;
}

.sidebar-btn img {
    width: 16px;
    height: 16px;
}

/* ------ Conteúdo ------ */

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: url("../img/header-banner.png"), #89DAA9;
    background-blend-mode: lighten;
    background-position: center 50%; /* --------------- */
    background-repeat: repeat-x;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 0 5% 1%; /* ----------------- */
    box-sizing: border-box;
    /* transition: all 10s linear;
}
header:hover {
    background-position: 4000% center; 

    --------- A Testar --------- */
}

.category-title {
    display: flex;
    align-items: center;
    flex-basis: 80%;
}
.category-title h1 {
    margin-left: 15px;
    font-size: 2rem;
}
.category-title img {
    width: 32px;
    height: 32px;
}

.category-level {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* ----------- */
}
.category-level img {
    width: 14px;
    height: 14px;
}
.category-level p {
    line-height: 1;
    text-align: center;
    margin-left: 10px;
}
.category-level p > strong {
    font-size: 1.1rem;
}

.category-questnum {
    font-size: 2.3rem;
    letter-spacing: -3px;
    margin-bottom: 10px; /* ----------- */
}
.category-questnum strong:before { /* ----------------- */
    content: " ";
    border: 1px solid #FFF;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 1rem;
    vertical-align: middle;
    margin: 0 5px 0 2px;
}

.question-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question-wrapper > div {
    display: flex;
    align-items: center;
    max-width: 850px;
}

@keyframes navigation-arrow {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    75% { transform: translateX(-10px) }
    100% { transform: translateX(0) }
}
.nav-arrow {
    height: 60px;
    margin: 30px;
    cursor: pointer;
    position: relative;
    top: 50px;
    transition: all 500ms ease;
}
.nav-arrow:hover {
    animation: navigation-arrow 2.5s infinite;
}
.arrow-left {
    image-orientation: flip; /* Propriedade Obsoleta */
}
.disabled {
    opacity: .5;
}

@keyframes btn-question {
    to {
        filter: sepia(0.35);
    }
}

.quiz-question > h2 {
    color: #307A50;
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.27rem;
    line-height: 1.2;
}
.quiz-question > div {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #E9E9E9;
    padding: 15px;
    color: #367C39;
    font-size: .95rem;
    font-weight: bold;
    margin: 15px 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.quiz-question > div:hover {
    transform: scale(1.04);
    animation-name: btn-question;
    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.quiz-question .active {
    transform: scale(1.015);
    background:#89DAA9;
}
.quiz-question .active > .option-letter {
    background:#FFF;
}
.option-letter {
    background: #B4DF80;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 12.5px;
    margin-right: 7px;
    vertical-align: middle;
}